[submodule "ansible"]
	path = ansible
	url = https://github.com/NexusIS/ansible.git
[submodule "ansible-modules-extras"]
	path = ansible-modules-extras
	url = https://github.com/NexusIS/ansible-modules-extras.git
